@model IEnumerable<LeGuardie.Models.Dto.AnagraficaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="RegisterUser">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Citta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CodiceFiscale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cognome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Indirizzo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodiceFiscale)
                </td>   
            </tr>
        }
    </tbody>
</table>
