@model IEnumerable<LeGuardie.Models.Dto.VerbaleDto>

@{
    ViewData["Title"] = "GetTotalPointsLost";
}

<h1>GetTotalPointsLost</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.PuntiDecurtati)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntiDecurtati)
            </td>
        </tr>
}
    </tbody>
</table>
