@model IEnumerable<LeGuardie.Models.Dto.VerbaleDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="NewVerbal">Crea nuovo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>        
            <th>
                @Html.DisplayNameFor(model => model.DataViolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndirizzoViolazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeAgente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataTrascrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuntiDecurtati)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.DataViolazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndirizzoViolazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAgente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataTrascrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuntiDecurtati)
            </td> 
        </tr>
}
    </tbody>
</table>
